.App {
  background-color: #282c34;
  min-height: 92.19vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
ul li {
  float: left;
  flex: content;
  text-decoration: none;
  list-style: none;
  padding-inline-end: 10px;
  padding-right: 15px;
  color: aliceblue;
}
header {
  background-color: #15a0db;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}
.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
}
.webimg{
  opacity: 30%;
}
.cartimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.use{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}